.btn, .form-btn {
  text-transform: uppercase;
}

.btn {
  background: $yellow-500;
  border-radius: 18px;
  box-shadow: 1px 1px 2px $black-400;
  display: inline-block;
  padding: 7px 13px;
  transform: scale(1);
  transition: 0.1s all ease-in-out;


  &:hover {
    transform: scale(0.9);
    transition: 0.1s all ease-in-out;
  }
}

.form-btn {
  background: none;
  border: 4px solid $yellow-500;
  color: $yellow-500;
  margin-left: 50px;
  padding: 7px 13px;
  transition: 0.1s all ease-in-out;
  &:hover {
    border-radius: 18px;
    background: $yellow-500;
    color: $black-500;
    transition: 0.1s all ease-in-out;
  }
}
