button, .btn {
  text-transform: uppercase;
  background: transparent;
  border: $border-width-medium solid $primary-color;
  box-shadow: 1px 1px 1px $black-400;
  display: inline-block;
  padding: 0.7rem 1.3rem;
  color: $primary-color;
  transition: 0.1s all ease-in-out;

  &:hover {
    background: $yellow-500;
    color: $black-500;
  }
}

.btn-large {
  @extend .btn;

  font-size: 2.7rem;
  border-width: $border-width-large;
}

.btn-medium {
  @extend .btn;

  font-size: 2rem;
  border-width: $border-width-medium;
}

.btn-small {
  @extend .btn;

  font-size: 1.2rem;
  border-width: $border-width-small;
}

.buttons-container {
  //@include horizontalFlexContainer();/**/

  align-items: center;

  .btn {
    margin: 0 1rem;
  }

  &--vertical {
    //@include verticalFlexContainer();

    justify-content: center;
    align-items: center;

    .btn {
      margin: 1.5rem 0;
    }
  }
}
