/* Styles for fonts, line-height, paragraphs, h1, h2, h3 ... */
html {
  line-height: 1.5;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: $font-text;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  font-family: $font-heading;
}

/* Vertical Rhythm TODO: Mixin it */
h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.33;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin: 0.75rem 0;
}

p {
  font-family: $font-text;
}

a, button, span {
  font-family: $font-links;
}
