/* Styles for fonts, line-height, paragraphs, h1, h2, h3 ... */
html {
  font-size: 62.5%;
  font-family: $font-text;
  text-rendering: optimizeLegibility;
}

body {
  font-size: $base-size#{$base-unit};
  line-height: $base-line-height;
}

/* Vertical Rhythm */

h1 {
  @include heading(3.0,rem);
}

h2 {
  @include heading(2.4,rem);
}

h3 {
  @include heading(2.0,rem);
}

h4 {
  @include heading(1.8,rem);
}

p {
  margin: 1.6rem 0;
}

h1, h2, h3, h4 {
  font-family: $font-heading;
}

a, button, span {
  font-family: $font-links;
}

.text--light {
  color: $white-500;
}

.text--dark {
  color: $black-500;
}
