/* Fonts */
$base-size: 1.6;
$base-line-height: 1.5;
$base-unit: 'rem';
$font-text: 'Roboto Condensed', sans-serif;
$font-heading: 'PT Serif', serif;
$font-links: 'Montserrat', sans-serif;

/* Colors */
$black: #1F1C17;
$yellow: #FFA10C;
$brown: #593C1A;
$white: #FAFAFA;

$primary-color: $yellow;
$secondary-color: $brown;
